extend ../layout
block content-header
	h1 Ingredients

block content-body
	.text-center
		h2 #{ingredient.name}
		img.ingredient-img(src='#{"/img/uploads/" + ingredient.fileName}' alt='#{ingredient.name}')
		p: i Submitted by #{ingredient.username}
	br
	p #{ingredient.description}
	
block localJS
	script(type='text/javascript' src='/js/public/ingredients.js')